body{background-color: #111;}

header{
  padding-bottom: 10px;
  position: relative;
}

.video-container{
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#bgVideo{
  min-width: 100%;
  object-fit: cover;
  height: 100%;
}

.content-container{
  width: 70%;
}

.content-before-nav{
  padding-bottom: 60px;
}

.top-navbar{
  background: rgba(204,204,204, .8);
  background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(255,255,255,0.09) 0%, rgba(12,12,12,1) 80%);
}

.tel-number{
  color: #bf0c29!important;
  margin-left: auto;
}

#nav-soc-icons a{
  color: #fff;
  font-size: 20px;
  margin-left: 5px;
}

.navbar a, .navbar p{
  font-weight: bold;
  color: #fff;
}

.header-title{
  padding-top: 60px;
  text-transform: uppercase;
  line-height: 7vw;
}

.first-level-title{
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
  color: #fff;
  font-size: 5vw;
  font-weight: 100;
}

.second-level-title{
  color: #bf0c29;
  font-size: 9.5vw;
}

.third-level-title{
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
  color: #fff;
  font-size: 5vw;
  font-weight: bolder;
}

.fourth-level-title{
  display: none;
}

.cta-header{
  margin-top: 15vw;
  margin-left: -40px;
  padding: 1.5em;
}

.red-btn{
  background-color: #bf0c29;
  font-weight: bold;
  color: #fff;
  padding: 1.5vw;
  text-transform: uppercase;
  border: 0!important;
  font-size: 1vw;
}

.header-slider{
  width: 50vw;
}

.slick-arrow{
  display: block!important;
  width: 40px!important;
  height: 40px!important;
  background-color: rgba(200,200,200,.4)!important;
  border-radius: 100%;
}

.slick-next{
  right: -55px!important;
}

.slick-prev:before, .slick-next:before{
  font-size: 30px!important;
}

.slick-prev{
  left: -55px!important;
}

.view{
  height: 18.5vw;
  background-color: #a32a2b;
  padding: 2em;
  padding-top: 1vw;
  color: #fff;
}

.view-mobile{
  padding-top: 40px;
}

.view-mobile-hr{
  height: 4px;
  background-color: rgba(60, 60, 60, .6);
  width: 90%;
  margin: 0 auto;
}

.view-mobile-title{
  font-size: 7vw;
  color: #bf0c29;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: -5.5vw;
  width: 80%;
  text-align: center;
}

.view-mobile-subtitle{
  color: rgba(255,255,255,.7);
  font-size: 2.8vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.view-mobile-btn{
  text-transform: uppercase;
  font-size: 2.2vw;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 35%;
}

.view-mobile-vr{
  width: 2px;
  background-color: #bf0c29;
  height: 10vw;
  margin: 0 auto;
  margin-top: 2.5vw;
}

.header-carousel-item{
  text-align: center;
}

.header-carousel-item-icon{
  font-size: 2.5vw;
  display:block;
}

.header-carousel-item-title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2vw;
  display: block;
  padding-bottom: 20px;
}

.header-carousel-item-description{
  font-size: 0.9vw;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.more-views{
  height: 18.5vw;
  background-color: green;
}

.more-views-btn{
  background-color: #000;
  color: #fff;
  font-size: 0.8vw;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 14vw;
}

.hr-header{
  height: 2px;
  background-color: #bf0c29;
  width: 35%;
  margin-top: 60px;
}

.about-text-title{
  font-size: 2vw;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  display: block;
  padding-bottom: 1.5vw;
}

.about-text-description{
  font-size: 1vw;
  text-transform: uppercase;
  color: rgba(255,255,255,.7);
  font-weight: bold;
  display: block;
}

.plyr__video-embed iframe, .plyr__video-wrapper--fixed-ratio video{
  width: 60%!important;
  height: 28vw!important;
  left: auto!important;
  top: auto!important;
}

.about-hr{
  background-color: #bf0c29;
  height: 3px;
  width: 20%;
  margin: 0 auto;
  margin-top: 5vw;
}

.cta-about-btn{
  margin-top: 1vw;
  width: 100%;
  text-align: center;
}

.cta-about{
  font-size: 1.4vw;

}

.about-left-column{
  order: -5;
}

.about-right-column{
  order: 5;
}

.graphs{
  padding-bottom: 0;
}

.graphs-icon{
  position: relative;
  width: 10vw;
  height: 10vw;
  border: 1px rgba(255,255,255,.5) solid;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 6vw;
  padding-top: 0.8vw;
  font-family: serif;
  color: #fff;
  z-index: 3;
}

.black-square{
  width: 14vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -17vw;
  height: 10vw;
  z-index: 2;
  background-color: #111;
}

.graphs-hr{
  width: 32vw;
  height: 1px;
  background-color: rgba(255,255,255,.5);
  z-index: 1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 5vw;
}

.graphs-title{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1.4vw;
  text-align: center;
  display: block;
  position: relative;
  z-index: 3;
  margin-top: 1vw;
}

.graphs-description{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1vw;
  text-align: center;
  display: block;
  width: 99%;
  position: relative;
  z-index: 3;
  margin-top: 1vw;
}

.sup{
  margin-top: 0.78vw!important;
}

.booking{
  padding: 0;
  margin: 0;
  margin-top: -8vw;
  background-color: rgba(255,0,0,.1);
}

.booking-header-inner{
  width: 75%;
  margin: 0 auto;
  height: 15vw;
}

.booking-header-inner-title{
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  font-size: 3.2vw;
  display: block;
  padding-top: 2vw;
}

.booking-header-inner-description{
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  font-size: 0.7vw;
  display: block;
  margin-top: 2vw;
}

.booking-body{
  margin: 0 auto;
  width: 70%;
  height: 38vw;
  border: 2px rgba(255,255,255,.1) dotted;
}

.booking-body span{
  font-size: 7vw;
  color: #fff;
  display: block;
  margin-top: 14vw;
  margin-left: 3vw;
  transform: rotate(25deg);
}

.gallery,.gallery-item{
  padding: 0;
}

.gallery{
  padding-bottom: 8.5vw;
}

.gallery-item img{
  width: 100%;
  height: 100%;
}

.more-info{
  padding: 0;
  background: linear-gradient(90deg, #4d0c0e, #111 80%);
  height: 12.5vw;
}

.more-info-title{
  text-transform: uppercase;
  font-size: 1.9vw;
  color: #fff;
  display: block;
  margin-top: 2.5vw;
  line-height: 3vw;
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
}

.cta-more-info{
  margin-top: 5vw;
}

.more-info-title b{
  font-size: 2.4vw;
}

.restrictions-title{
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 200;
  display: block;
  margin: 0 auto;
  margin-top: 2vw;
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
}

.restrictions-description{
  text-transform: uppercase;
  color: #bf0c29;
  text-align: center;
  font-size: 0.7vw;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 1vw;
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
}

.restrictions-hr{
  width: 40%;
  height: 3px;
  background-color: rgba(255,255,255,.2);
  margin: 0 auto;
  margin-top: 1.5vw;
}

.restrictions .columns  {
  margin-top: 1.5vw;
}

.restrictions-redpoint{
  width: 0.8vw;
  height: 0.8vw;
  background-color: #bf0c29;
  border-radius: 100%;
  float: left;
}

.restrictions-column-title{
    text-transform: uppercase;
    color: #bf0c29;
    font-size: 1vw;
    margin-left: 1.5vw;
    margin-top: -0.32vw;
    font-weight: bold;
    display: block;
}

.restrictions-column-description{
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  display: block;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
}

.reviews{
  height: 70vw;
}

.center{
  width: 70%;
  height: 85%;
  margin: 0 auto;
}

.center h3{
  opacity: 0.6;
}

.center .slick-center h3{
  opacity: 1;
  transform: scale(2);
  transition-duration: 1s;
}

.center .slick-center .reviews-carousel-item-name{
  color: #bf0c29;
  text-transform: uppercase;
  font-size: 2vw;
  display: block;
  margin: 0 auto;
  padding-top: 3vw;
  text-align: center;
}

.center .slick-center .reviews-carousel-item-review{
  color: #fff;
  font-size: 2vw;
  display: block;
  margin: 0 auto;
  padding-top: 1vw;
  text-align: center;
}

.center .reviews-carousel-item-name{
  display: none;
}

.center .reviews-carousel-item-review{
  display: none;
}

.reviews-carousel-item h3{
  position: relative;
  text-align: center;
  font-size: 2vw;
  height: 13vw;
  border-radius: 100%;
  background-image: url("../sources/avatar.jpeg");
  background-position: center;
  background-size: cover;
  margin: 5vw;
  padding: 5%;

}

.reviews-carousel-item .reviews-carousel-item-link{
  background-image: none;
  background-color: #bf0c29;
}

.reviews .slick-track{
  top: 7vw!important;
}

.slick-list{
  height: 100%;
}

.reviews-carousel-item-link{
  text-align: center;
  color: #fff;
  background-color: #45668e;
  width: 50%;
  border-radius: 2vw;
  padding: 0.5vw 0;
  text-transform: uppercase;
  font-size: 1vw;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 11vw;
}


.reviews-carousel-item-link a{
    color: #fff;
}

.reviews-carousel-item-link:hover{
  width: 53%;
  padding: 0.7vw 0;
  transition-duration: .5s!important;
}

.reviews-title{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 300;
  display: block;
  margin: 0 auto;
  padding-top: 5vw;
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
}

.reviews-description{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 1.5vw;
  transform: scale(1,1.4);
  -webkit-transform:scale(1,1.4);
}

.contact-us .control{
  width: 50%;
}

.field-mobile .control{
  width: auto;
}

.contact-us .control-submit-btn{
  margin-top: 1.5vw;
  width: 25%;
}

.contact-us-title{
  color: #fff;
  font-weight: 600;
  font-size: 2.5vw;
  display: block;
  padding: 4vw 0;
}

.control-submit-btn .button{
  background-color: #111!important;
  border-radius: 0;
  width: 100%!important;
  height: 4.5vw!important;
  color: #444!important;
  text-decoration: none;
  text-align: center!important;
  font-size: 1.5vw!important;

}

.contact-us input, .contact-us textarea{
  padding: 1.8vw;
  border-radius: 0;
  margin-top: 1.8vw;
  font-size: 1.5vw;
  color: #444!important;
}

.contact-us textarea{
  height: 10vw;
}

.contact-us{
  background-color: #bf0c29;
}

.footer-title{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1vw;
}

.footer-hr{
  height: 1px;
  width: 1.3vw;
  margin: 0.6vw 0;
  background-color: #fff;
}

.footer-description{
  color: #fff;
  font-weight: bold;
  font-size: 1vw;
}

.footer-copyright{
  color: #fff;
  font-weight: bold;
  font-size: 1vw;
  display: block;
  text-align: center;
}

.footer
{
  background-color: #111;
}

.footer .right{
  text-align: right;
}

.footer .right .footer-hr{
  float: right;
}

.footer .right .footer-description{
  display: block;
}

.more-views .view-mobile-title{
  font-size: 1.5vw;
  background: none;
  margin-top: -1vw;
  width: 100%;
}

.more-views .view-mobile-subtitle{
  font-size: 1vw;
  width: 80%;
  margin-top: 1.5vw;
}

.more-views .view-mobile-btn{
  font-size: 1vw;
  width: 80%;
}

@media screen and (max-width: 1023px){ /*TABLETS*/
  .content-container{
    width: 80%;
  }

  .header-slider{
    width: 60%;
  }

  .top-navbar{
    background: none;
  }
  .top-navbar-mobile{
    background: rgba(0, 0, 0, 0.85);
  }
  #navMenu{
    width: 35%!important;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .navbar a{
    color: #000;
  }

  .cta-header{
    font-size: 13px;
    margin-left: -20px;
  }

  .graphs-hr{
    width: 38vw;
  }

  .cta-header{
    margin-left: -8vw;
  }
}

@media screen and (max-width: 768px){ /*MOBILE*/
  .content-container{
    width: 90%;
  }

  .cta-header{
    margin-top: 30px;
    margin-left: 0;
    font-size: 4vw;
    padding: 0 2.5em!important;
  }

  .header-title{
    line-height: 15vw;
  }

  .first-level-title{
    font-size: 13.5vw;
  }

  .second-level-title{
    font-size: 17vw;
  }

  .third-level-title{
    font-size: 8vw;
  }

  .fourth-level-title{
    display: block;
    width: 60%;
    font-size: 4vw;
    line-height: 4vw;
    color: #ccc;
  }
  .header-slider{
    display: none;
  }
  .hr-header{
    display: none;
  }

  .columns{
    display: flex!important;
    flex-direction: column;
  }

  .columns.is-mobile{
    flex-direction: row!important;
  }

  .columns > .about-left-column{
    order: -5
  }

  .columns > .about-right-column{
    order: 5;
  }

  #yt-player{
    width: 100%!important;
    height: 50vw!important;
  }

  .about{
    padding: 0!important;
  }

  .about-uptitle-mobile,.about-title-mobile{
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .about-uptitle-mobile{
    color: #bf0c29;
    font-size: 1.5vw;
    display: block;
  }

  .about-title-mobile{
    color: #fff;
    font-size: 4vw;
    display: block;
    padding-bottom: 2vw;
  }

  .about-left-column{
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .about-text-description{
    font-size: 2.5vw;
  }

  .about-hr-mobile{
    width: 40%;
  }

  .booking{
    margin-top: 0;
  }

  .graphs-icon{
    border: 1.5vw rgba(255,255,255,.5) solid;
    width: 25vw;
    height: 25vw;
    font-size: 13vw;
    padding-top: 1.8vw;
  }

  .graphs-title{
    font-size: 4vw;
    color: #bf0c29;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .graphs-description{
    font-size: 3vw;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
  }

  .booking{
    background: none;
  }

  .booking-header-inner{
    width: 90%;
  }

  .booking-header-inner-title-mobile{
    transform: scale(1,1.4);
    -webkit-transform:scale(1,1.4);
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    font-size: 7vw;
    text-align: center;
    display: block;
    padding-top: 2vw;
  }

  .booking-body{
    width: 90%;
    height: 100vw;
    margin-top: 8vw;
    border: 2px rgba(255,255,255,.1) dotted;
  }

  .booking-body span{
    font-size: 12vw;
    color: #fff;
    display: block;
    margin-top: 34vw;
    margin-left: 0;
    transform: rotate(55deg);
  }
  .more-info{
    height: 100%;
    padding-bottom: 4vw;
  }

  .more-info-title{
    font-size: 6vw;
    line-height: 6vw;
    padding: 4vw 0;
  }

  .more-info-title b{
    font-size: 7vw;
  }

  .cta-more-info{
    font-size: 3vw;
    margin-left: 0;
    margin-top: 0;
  }

  .restrictions{
    padding-top: 0;
  }

  .restrictions-uptitle-mobile{
    color: #bf0c29;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-top: 2vw;
  }

  .restrictions-title-mobile{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5vw;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    transform: scale(1,1.4);
    -webkit-transform:scale(1,1.4);
    margin-top: 2vw;
    padding-bottom: 3vw;
  }

  .restrictions-vl{
    background-color: #28090b;
    height: 8vw;
    width: 2px;
    margin: 0 auto;
  }

  .restrictions-column-title{
    font-size: 3vw;
    text-align: center;
  }

  .restrictions-column-description-mobile{
    color: #fff;
    font-weight: bold;
    font-size: 3vw;
    display: block;
    text-align: center;
  }

  .restrictions .columns{
    margin: 0;
  }
  .restrictions .column{
    margin-top: 2vw;;
  }

  .reviews{
    height: 100vw;
  }

  .center{
    height: 75%;
  }

  .slick-arrow{
    top: 30%!important;
  }

  .reviews-carousel-item h3 {
    position: relative;
    left: 14vw;
    text-align: center;
    font-size: 2vw;
    height: 25vw;
    width: 25vw;
    border-radius: 100%;
    background-image: url(../sources/avatar.jpeg);
    background-position: center;
    background-size: cover;
    margin: 5vw;
    padding: 5%;
  }

  .reviews-carousel-item-name{
    font-size: 3vw!important;
    padding-top: 10vw!important;
  }

  .reviews-carousel-item-link{
    text-align: center;
    color: #fff;
    background-color: #45668e;
    width: 30%;
    border-radius: 2vw;
    padding: 0.5vw 0;
    text-transform: uppercase;
    font-size: 1.5vw;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 23.8vw;
  }


  .reviews-carousel-item-link a{
      color: #fff;
  }

  .reviews-carousel-item-link:hover{
    width: 33%;
    padding: 0.7vw 0;
    transition-duration: .5s!important;
  }

  .reviews, .restrictions{
    padding-top: 0;
    padding-bottom: 0;
  }

  .reviews-description{
    font-size: 4.5vw;
    padding-bottom: 4vw;
  }

  .reviews-uptitle{
    text-align: center;
    color: #bf0c29;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-top: 1vw;
  }

  .reviews-vl{
    background-color: #28090b;
    height: 8vw;
    width: 2px;
    margin: 0 auto;
  }

  .gallery .columns{
    margin: 0!important;
  }

  .gallery{
    padding-top: 16vw;
  }

  .contact-us{
    background: none;
    padding: 1vw;
  }

  .contact-us .content-container{
    width: 95%;
  }

  .field-mobile{
    background-color: #222;
    padding: 5vw;
  }

  .field-mobile input, .field-mobile textarea{
    margin-top: -1.4vw;
    height: 5vw;
    color: #fff!important;
    font-size: 2vw!important;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 3px solid #333;
  }

  .field-mobile input:focus, .field-mobile textarea:focus{
    border: none;
    border-bottom: 3px solid #bf0c29;
  }

  .field-mobile .label{
    text-transform: uppercase;
    color: #bf0c29;
  }

  .field-mobile .control-submit-btn{
    width: 100%;
  }

  .field-mobile .button{
    width: 30%!important;
    background-color: #bf0c29!important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vw!important;
    height: 6vw!important;
    display: block;
    margin: 0 auto;
    margin-top: 6vw;
  }

  .contact-us{
    margin-top: -10vw;
  }

  .contact-us-title{
    color: #bf0c29;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5vw;
    display: block;
    margin: 0 auto;
    margin-top: -1vw;
  }

  .contact-us-title-mobile{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5vw;
    display: block;
    margin: 0 auto;
    transform: scale(1,1.4);
    -webkit-transform:scale(1,1.4);
    margin-top: -2vw;
    padding-bottom: 8vw;
  }

  .contact-us-vl{
    background-color: #28090b;
    height: 8vw;
    width: 2px;
    margin: 0 auto;
  }

  .footer{
    padding-bottom: 0;
  }

  .footer-title{
    font-size: 2vw;
  }

  .footer-description{
    font-size: 2vw;
  }

  .footer-copyright{
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.5);
    float: right;
  }

  .booking-header-inner-description{
    text-align: center;
    color: #bf0c29;
    font-size: 1.5vw;
    display: block;
    width: 80%;
    margin: 2vw auto;
    padding-bottom: 2vw;
  }
}
